# Compiled source #
###################
*.exe

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Directories #
######################
node_modules/
.vscode/

/network/TicTacToeClient/nbproject/private/
/network/TicTacToeClient/build/
/network/TicTacToeServer/nbproject/private/
/network/TicTacToeServer/build/

/network/AuctionServer/nbproject/private/
/network/AuctionServer/dist/
/network/AuctionServer/build/
/network/AuctionConsumers/nbproject/private/
/network/AuctionConsumers/dist/
/network/AuctionConsumers/build/

/network/DictServiceApplication/nbproject/private/
/network/DictServiceApplication/build/
/network/test/nbproject/private/
/network/test/build/

/spring/01-workout_application/.settings/

# Settings #
######################
settings.json
/spring/01-workout_application/.classpath
/spring/01-workout_application/.project

# Logs and databases #
######################
*.log
*.sql