# Compiled source #
###################

*.exe

# Packages #
############

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.mf

# Unimportant Directories #
###########################

node_modules/
.vscode/



/network/01-TicTacToeClient/nbproject/
/network/01-TicTacToeClient/build/
/network/01-TicTacToeServer/nbproject/
/network/01-TicTacToeServer/build/

/network/02-AuctionServer/nbproject/
/network/02-AuctionServer/dist/
/network/02-AuctionServer/build/
/network/02-AuctionConsumers/nbproject/
/network/02-AuctionConsumers/dist/
/network/02-AuctionConsumers/build/



/spring/01-spring_beans/.settings/
/spring/01-spring_beans/bin/
/spring/01-spring_beans/target/

/spring/02-spring_mvc/.settings/
/spring/02-spring_mvc/build/
/spring/02-spring_mvc/target/

/spring/03-hibernate/.settings/
/spring/03-hibernate/target/

/spring/04-customer_tracker/.settings/
/spring/04-customer_tracker/target/

/spring/05-aop/.settings/
/spring/05-aop/target/

/spring/06-spring_rest/.settings/
/spring/06-spring_rest/target/

/spring/07-spring_security/.settings/
/spring/07-spring_security/target/

/spring/07-spring_security/.settings/
/spring/07-spring_security/target/

/spring/08-hospital_application/api-gateway/bin/
/spring/08-hospital_application/api-gateway/.mvn/
/spring/08-hospital_application/finance/bin/
/spring/08-hospital_application/finance/.mvn/
/spring/08-hospital_application/patient/bin/
/spring/08-hospital_application/patient/.mvn/
/spring/08-hospital_application/reception/bin/
/spring/08-hospital_application/reception/.mvn/
/spring/08-hospital_application/ward/bin/
/spring/08-hospital_application/ward/.mvn/



/webservice/SchoolService/build/
/webservice/SchoolService/logs/
/webservice/SchoolService/nbproject/


# Settings #
############

settings.json
/spring/01-spring_beans/.classpath
/spring/01-spring_beans/.project
/spring/02-spring_mvc/.classpath
/spring/02-spring_mvc/.project
/spring/03-hibernate/.classpath
/spring/03-hibernate/.project
/spring/04-customer_tracker/.classpath
/spring/04-customer_tracker/.project
/spring/05-aop/.classpath
/spring/05-aop/.project
/spring/06-spring_rest/.classpath
/spring/06-spring_rest/.project
/spring/07-spring_security/.classpath
/spring/07-spring_security/.project

# Logs and databases #
######################
*.log