# Compiled source #
###################

*.exe

# Packages #
############

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.mf

# Unimportant Directories #
###########################

node_modules/
.vscode/
build/
bin/
.mvn/
.settings/
target/
logs/
nbproject/
dist/

# Settings #
############

*.classpath
*.project

# Logs and databases #
######################
*.log